.chat{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}
.msg{
    background-color:green;
    padding: 5px 15px;
    border-radius: 16px;
    color:white;
}
body{
    margin-left: 20px;
}