body{
    background-color: aliceblue;
}
h2{
    text-align: center;
    color:green;
}
.input{
    margin-left: 40%;
    
    background-color: antiquewhite;
    margin-top: 5px;
    padding: 5px;
    display:inline-block;
}